body
{
    background-color: linen;
}

h1
{
    color: navy;
}

h2
{
    color:blue;
    
}

th
{
    text-align: left;
    font-size: 26px;
    font-family: cursive;
    color: coral
    
}

img
{
    width: 25%;
}

table
{
    width:50%;
}